<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- RC Team Explorer (HO-BCARE-07) -->
    <add key="Tfs.CollectionUrl" value="http://rch-tfs-01:8080/tfs/BESTCare_RCHSP_20170628" />
    <add key="Tfs.ServerPath" value="$/HIS.MS.CS.PH" />
    <add key="Tfs.RecentCount" value="3" />
    <add key="Tfs.TfExePath" value="tf.exe" />
    <add key="DevSession.SourceRoot" value="D:\HISSolutions" />
    <add key="BaseDirectory" value="C:\GBCWorkHub" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
